
@using MegaDesk;
@{

    Page.Title = "Add Desk";
    Layout = "~/_Layout.cshtml";

    var db = WebMatrix.Data.Database.Open("MegaDeskDB2");

    IEnumerable<dynamic> allMaterials;
    allMaterials = db.Query("SELECT MaterialId, MaterialName FROM SurfaceMaterial");

    IEnumerable<dynamic> allShippingDays;
    allShippingDays = db.Query("SELECT ShippingId, ShippingDays FROM Shipping");

    IEnumerable<dynamic> allCustomer;
    allCustomer = db.Query("SELECT CustomerId, CustomerName FROM Customer");

    decimal total = 0;

    Validation.RequireField("customerName", "You must enter a name");
    Validation.RequireField("width", "Width is required");
    Validation.RequireField("depth", "Depth is required");
    Validation.RequireField("numOfDrawers", "You haven't entered the number of drawers");
    Validation.RequireField("surfaceMaterial", "You haven't entered a material");
    Validation.RequireField("shipping", "You haven't entered a shipping time");

    string customerName = "";
    decimal width;
    decimal depth;
    int numOfDrawers;
    int surfaceMaterial;
    int shipping;
    DateTime date = DateTime.Now;



    if (IsPost && Validation.IsValid())
    {
        //// DEBUG:
        //Response.Write(Request.Form);
        //return;

        customerName = Request.Form["customerName"];
        width = Convert.ToDecimal(Request.Form["width"]);
        depth = Convert.ToDecimal(Request.Form["depth"]);
        numOfDrawers = Convert.ToInt32(Request.Form["numOfDrawers"]);
        surfaceMaterial = Convert.ToInt32(Request.Form["surfaceMaterial"]);
        shipping = Convert.ToInt32(Request.Form["shipping"]);

        Desk desk = new Desk(width, depth, numOfDrawers, surfaceMaterial);
        DeskQuote deskQuote = new DeskQuote();

        total = deskQuote.GetQuote(desk, shipping);

        var insertDeskCommand = "INSERT INTO Desk (Depth, Width, NumOfDrawers, MaterialId) VALUES(@0, @1, @2, @3)";
        db.Execute(insertDeskCommand, depth, width, numOfDrawers, surfaceMaterial);

        var insertDeskQuoteCommand = "INSERT INTO DeskQuote (CustomerId, Date, DeskId, MaterialId, ShippingId, Total) VALUES(@0, @1, @2, @3, @4, @5)";
        var deskId = db.GetLastInsertId();

        db.Execute(insertDeskQuoteCommand, customerName, DateTime.Now, deskId, surfaceMaterial, shipping, total);
        Response.Redirect("~/Desks");
    }


}
<h2>Add a Desk</h2>
<p><a href="~/Desks">Return to desk listing</a></p>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Desk Information</legend>
        <p>
            <label for="customerName">Customer Name:</label>
            <select id="customerName" name="customerName">
                <option disabled selected>Select Material</option>
                @foreach (var m in allCustomer)
                {
                    <option title='@m.CustomerName' value="@m.CustomerId">@m.CustomerName</option>
                }

            </select>
            @Html.ValidationMessage("customerName")
        </p>

        <p>
            <label for="width">Width: </label>
            <input id="width" type="text" name="width" value="@Request.Form["width"]" />
            @Html.ValidationMessage("width")
        </p>

        <p>
            <label for="depth">Depth: </label>
            <input id="depth" type="text" name="depth" value="@Request.Form["depth"]" />
            @Html.ValidationMessage("depth")
        </p>

        <p>
            <label for="numOfDrawers">Number Of Drawers:</label>
            <input id="numOfDrawers" type="text" name="numOfDrawers" value="@Request.Form["numOfDrawers"]" />
            @Html.ValidationMessage("numOfDrawers")
        </p>

        <p>
            <label for="surfaceMaterial">Surface Material:</label>
            <select id="surfaceMaterial" name="surfaceMaterial">
                <option disabled selected>Select Material</option>
                @foreach (var m in allMaterials)
                {
                    <option title='@m.MaterialName' value="@m.MaterialId">@m.MaterialName</option>
                }

            </select>
            @Html.ValidationMessage("surfaceMaterial")
        </p>

        <p>
            <label for="shipping">Rush Order: </label>
            <select id="shipping" name="shipping">
                <option disabled selected>Select Shipping</option>
                @foreach (var m in allShippingDays)
                {
                    <option title='@m.ShippingDays' value="@m.ShippingId">@m.ShippingDays</option>
                }
            </select>
            @Html.ValidationMessage("shipping")
        </p>

        <p><input type="submit" name="buttonSubmit" value="Add Desk" /></p>

        <p><label>Quote: $</label>@total</p>
    </fieldset>
    <p><a href="~/Desks">Return to Desk</a></p>
</form>